# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - name: Setup Ruby, JRuby and TruffleRuby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.4

    # Runs a single command using the runners shell
    - name: Install awesome_bot gem
      run: gem install awesome_bot

    # Runs a set of commands using the runners shell
    - name: Run awesome_bot linter
      run: awesome_bot -w jobs.drupal.org,landing.jobs,www1.communitech.ca,ninjajobs.org,ScalaJobs.dev,javascriptjob.xyz,startup.jobs,pythonjob.xyz,remoteok.com,androiddev.careers README.md
